/.deps
/.libs
/autom4te.cache

/config.*
/aclocal.m4
/configure
/compile
/depcomp
/install-sh
/krb525
/krb525_renew
/krb525d
/libtool
/ltmain.sh
/missing
/stamp-h1


Makefile
Makefile.in

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
